In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dotenv import load_dotenv
import os
import nest_asyncio # needed when calling from Jupyter
nest_asyncio.apply()
load_dotenv()
MY_TEST_ONEDRIVE_PATH = os.getenv('MY_TEST_ONEDRIVE_PATH')

In [3]:
from ducklakexl import DuckLakeXL

In [4]:
test = DuckLakeXL(
    excel_path=MY_TEST_ONEDRIVE_PATH,
    data_path='./test/',
    ducklake_name='my_excel_ducklake',
)

Authentication successful.

In [5]:
test.sql("""USE my_excel_ducklake;
            INSERT INTO my_table VALUES
            (5, 'epsilon');   
            SELECT * FROM my_table;            
            """).show()

┌───────┬─────────┐
│  id   │   val   │
│ int32 │ varchar │
├───────┼─────────┤
│     1 │ alpha   │
│     2 │ beta    │
│     4 │ delta   │
│     5 │ epsilon │
└───────┴─────────┘

In [6]:
test2 = DuckLakeXL(
    excel_path='test/ducklake_test_2025-06-12_23-12-57.xlsx',
    data_path='./test/',
    ducklake_name='my_excel_ducklake',
    local_catalog = 'local_excel.ducklake'
)

File test/ducklake_test_2025-06-12_23-12-57.xlsx not found. Attempting to create...
File test/ducklake_test_2025-06-12_23-12-57.xlsx created!

In [7]:
test2.sql("""USE my_excel_ducklake;
            CREATE TABLE my_table(id INTEGER, val VARCHAR);
            INSERT INTO my_table VALUES
                (1, 'alpha'),
                (2, 'beta'),
                (3, 'gamma'),
                (4, 'delta');               
               """)

In [8]:
test2.sql(""" SELECT * FROM my_table """).show()

┌───────┬─────────┐
│  id   │   val   │
│ int32 │ varchar │
├───────┼─────────┤
│     1 │ alpha   │
│     2 │ beta    │
│     3 │ gamma   │
│     4 │ delta   │
└───────┴─────────┘

In [9]:
test2.sql("""DELETE FROM my_table where val='gamma';
            INSERT INTO my_table VALUES
            (5, 'epsilon');   
            SELECT * FROM my_table;            
            """).show()

┌───────┬─────────┐
│  id   │   val   │
│ int32 │ varchar │
├───────┼─────────┤
│     1 │ alpha   │
│     2 │ beta    │
│     4 │ delta   │
│     5 │ epsilon │
└───────┴─────────┘